Ad Tracking URL Test.xcodeproj/project.xcworkspace/xcshareddata/
Ad\ Tracking\ URL\ Test.xcodeproj/project.xcworkspace/xcuserdata/*
Ad\ Tracking\ URL\ Test.xcodeproj/project.xcworkspace/xcuserdata/fritz.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store